{% extends "base.html" %}

{% block fonts %}
    {% if config.extra.font != false and config.extra.font != "none" %}
        {% set text = config.extra.get("font", {}).text | default("Noto Sans") %}
        {% set pre = config.extra.get("font", {}).pre | default("Noto Mono") %}
        {% set code = config.extra.get("font", {}).code | default("Noto Mono") %}
        {% set font = text + ':300,400,400i,700|' + pre | replace(' ', '+') %}
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family={{ font }}" />
        <style>
            body, input {
                font-family: "{{ text }}", "Helvetica Neue",
                Helvetica, Arial, sans-serif;
            }
            pre, code, kbd {
                font-family: "{{ pre }}", "Courier New",
                Courier, monospace;
            }
            .codehilite * {
                font-family: "{{ code }}", "Courier New",
                Courier, monospace;
            }
        </style>
    {% endif %}

    <!-- Material icons as a default iconset -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
{% endblock %}
