{% extends "base.html" %}

{% block htmltitle %}
    {% if page and page.meta.title %}
        <title>{{ page.meta.title }} | {{ config.site_name }}</title>
    {% elif page and page.title and not page.is_homepage %}
        <title>{{ page.title }} | {{ config.site_name }}</title>
    {% else %}
        <title>{{ config.site_name }}</title>
    {% endif %}
{% endblock %}

{% block fonts %}
    {# General Font - Noto Sans #}
    {# Unfortunately Google Fonts doesn't support SRI #}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,400i,700">

    {# Source Code Font - Source Code Pro #}
    {# Unfortunately Google Fonts doesn't support SRI #}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Code+Pro">

    {# Iconset - Material Icons #}
    {# Unfortunately Google Fonts doesn't support SRI #}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {# Iconset - Font Awesome #}
    {% if config.extra.social %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
    {% endif %}

    {# Configure page fonts #}
    <style>
        body, input {
            font-family: 'Noto Sans', sans-serif;
        }
        pre, code, kbd {
            font-family: 'Courier New', Courier, monospace;
        }
        .codehilite * {
            font-family: 'Source Code Pro', monospace;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {# Link to all the stuffs #}
    <link rel="author" href="/humans.txt">
    <link rel="manifest" href="/manifest.json">

    {# Address Bar Theme Colour (Material Blue 500) #}
    <meta name="theme-color" content="#2196F3">

    {# Open Graph Information #}
    <meta property="og:site_name" content="{{ config.site_name }}">
    {% if page and page.meta.title %}
        <meta property="og:title" content="{{ page.meta.title }}">
    {% elif page and page.title and not page.is_homepage %}
        <meta property="og:title" content="{{ page.title }}">
    {% else %}
        <meta property="og:title" content="{{ config.site_name }}">
    {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.canonical_url }}">
    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/5103549">
    <meta property="og:image:width" content="460">
    <meta property="og:image:height" content="460">
    <meta property="og:locale" content="en_GB">
    {% if page and page.meta.description %}
        <meta property="og:description" content="{{ page.meta.description }}">
    {% elif config.site_description %}
        <meta property="og:description" content="{{ config.site_description }}">
    {% endif %}

    {# Twitter Card Information #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jamiethecoder">
    {% if page and page.meta.title %}
        <meta name="twitter:title" content="{{ page.meta.title }}">
    {% elif page and page.title and not page.is_homepage %}
        <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
        <meta name="twitter:title" content="{{ config.site_name }}">
    {% endif %}
    {% if page and page.meta.description %}
        <meta name="twitter:description" content="{{ page.meta.description }}">
    {% elif config.site_description %}
        <meta name="twitter:description" content="{{ config.site_description }}">
    {% endif %}
    <meta name="twitter:image" content="https://avatars0.githubusercontent.com/u/5103549">

    {# Ensure we look the same on EVERY browser #}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"
          integrity="sha384-eYUmD1FFkORGrJdmrD37Z5LUEElTzF32+UI3jkzt7C1vpmUGo5KOVvb3Z5LeZHky"
          crossorigin="anonymous">
{% endblock %}

{# We don't have public-viewable source, so this is never used #}
{# Perfect placement it has in main.html :p #}
{% block source %}
    <hr>
    <em>
        Except as otherwise noted, the content of this page is licensed under the <a href="http://creativecommons.org/licenses/by/4.0/">Creative
        Commons Attribution 4.0 License</a>, and code samples are licensed under the <a href="https://www.mozilla.org/en-US/MPL/2.0/">Mozilla Public
        License 2.0</a>.
    </em>
{% endblock %}

{% block scripts %}
    {# This needs to be kept up-to-date with mkdocs-material #}
    <script src="{{ base_url }}/assets/javascripts/application.02434462.js"></script>

    {# Initialise application #}
    <script>
        app.initialize({
            version: "{{ mkdocs_version }}",
            url: { base: "{{ base_url }}" }
        });
    </script>

    {# Remove extra_javascript to resolve subresource integrity #}
    {% if page and page.meta.maths %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML"
                integrity="sha384-ap4cGfAEIeLaf8QO+dKYPeksHk3N8bTpT5bWKtwCFQjItwQoNKjTsBUEJnxbM4vA"
                crossorigin="anonymous"></script>
    {% endif %}
{% endblock %}
