{% extends "base.html" %}

{% block htmltitle %}
    {% if page and page.meta.title %}
        <title>{{ page.meta.title | first }} | {{ config.site_name }}</title>
    {% elif page and page.title and not page.is_homepage %}
        <title>{{ page.title }} | {{ config.site_name }}</title>
    {% else %}
        <title>{{ config.site_name }}</title>
    {% endif %}
{% endblock %}

{% block fonts %}
    <!-- General Font - Noto -->
    <!-- Unfortunately Google Fonts doesn't support SRI -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans:300,400,400i,700">

    <!-- Hack font for source code examples -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css"
          integrity="sha384-H5e0RJpnyDO9imPVrfUJSBYtDF+3/DTHekmucchq8nG7NV7KcGFj0dGlkxgkKX78"
          crossorigin="anonymous">

    <!-- Material icons as the default iconset -->
    <!-- Unfortunately Google Fonts doesn't support SRI -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Configure page fonts -->
    <style>
        body, input {
            font-family: 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        pre, code, kbd {
            font-family: "Courier New", Courier, monospace;
        }
        .codehilite * {
            font-family: 'Hack', "Courier New", Courier, monospace;
        }
    </style>
{% endblock %}

{% block extrahead %}
    <!-- Link to all the stuffs -->
    <link rel="author" href="/humans.txt">
    <link rel="manifest" href="/manifest.json">

    <!-- Address Bar Theme Colour (Material Blue 500) -->
    <meta name="theme-color" content="#2196F3">

    <!-- Open Graph Information -->
    <meta property="og:site_name" content="{{ config.site_name }}">
    {% if page and page.meta.title %}
        <meta property="og:title" content="{{ page.meta.title | first }}">
    {% elif page and page.title and not page.is_homepage %}
        <meta property="og:title" content="{{ page.title }}">
    {% else %}
        <meta property="og:title" content="{{ config.site_name }}">
    {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.canonical_url }}">
    <meta property="og:image" content="https://avatars0.githubusercontent.com/u/5103549">
    <meta property="og:image:width" content="460">
    <meta property="og:image:height" content="460">
    <meta property="og:locale" content="en_GB">
    {% if page and page.meta.description %}
        <meta property="og:description" content="{{ page.meta.description | first }}">
    {% elif config.site_description %}
        <meta property="og:description" content="{{ config.site_description }}">
    {% endif %}

    <!-- Twitter Card Information -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jamiethecoder">
    <meta name="twitter:title" content="Small Island Developing States Photo Submission">
    {% if page and page.meta.title %}
        <meta name="twitter:title" content="{{ page.meta.title | first }}">
    {% elif page and page.title and not page.is_homepage %}
        <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
        <meta name="twitter:title" content="{{ config.site_name }}">
    {% endif %}
    {% if page and page.meta.description %}
        <meta name="twitter:description" content="{{ page.meta.description | first }}">
    {% elif config.site_description %}
        <meta name="twitter:description" content="{{ config.site_description }}">
    {% endif %}
    <meta name="twitter:image" content="https://avatars0.githubusercontent.com/u/5103549">

    <!-- Ensure we look the same on EVERY browser -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
          integrity="sha384-7tIwW4quYS2+TZCwuAPnUY+dRqg28ylzlIoVXAwpfiTs+CMKsAOSsWYQ96c/ZnV+"
          crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    <!-- This needs to be kept up-to-date with mkdocs-material -->
    <script src="{{ base_url }}/assets/javascripts/application-07b0fbb49b.js"></script>

    <!-- Initialise application -->
    <script>
        app.initialize({ url: { base: "{{ base_url }}" } });
    </script>

    <!-- Remove extra_javascript to resolve subresource integrity -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"
            integrity="sha384-Ra6zh6uYMmH5ydwCqqMoykyf1T/+ZcnOQfFPhDrp2kI4OIxadnhsvvA2vv9A7xYv"
            crossorigin="anonymous"></script>
{% endblock %}
